In [1]:
import pandas as pd

In [9]:
## Data ingestion steps
df=pd.read_csv("https://raw.githubusercontent.com/Poojaineuron23/Food_delivery/main/Notebooks/Data/delivery.csv")
df.head()

,Unnamed: 0,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,...,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,...,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,...,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,...,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,...,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,...,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [10]:
df.isnull().sum()

Unnamed: 0                        0
ID                                0
Delivery_person_ID                0
Delivery_person_Age            1854
Delivery_person_Ratings        1908
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    1731
Time_Order_picked                 0
Weather_conditions              616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                        228
City                           1200
Time_taken (min)                  0
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   45584 non-null  int64
 1   ID                           45584 non-null  object
 2   Delivery_person_ID           45584 non-null  object
 3   Delivery_person_Age          43730 non-null  float64
 4   Delivery_person_Ratings      43676 non-null  float64
 5   Restaurant_latitude          45584 non-null  float64
 6   Restaurant_longitude         45584 non-null  float64
 7   Delivery_location_latitude   45584 non-null  float64
 8   Delivery_location_longitude  45584 non-null  float64
 9   Order_Date                   45584 non-null  object
 10  Time_Orderd                  43853 non-null  object
 11  Time_Order_picked            45584 non-null  object
 12  Weather_conditions           44968 non-null  object
 13  Road_traffic_density         44983 non-null  object
 14  Vehicle_condition            45584 non-null  int64
 15  Type_of_order                45584 non-null  object
 16  Type_of_vehicle              45584 non-null  object
 17  multiple_deliveries          44591 non-null  float64
 18  Festival                     45356 non-null  object
 19  City                         44384 non-null  object
 20  Time_taken (min)             45584 non-null  int64
dtypes: float64(7), int64(3), object(11)
memory usage: 7.3+ MB